<section class="col" data-id="project" tabindex="0">
    <h2>Projects</h2>
    <ul role="menu">
        {% for item in pages.projects %}
        <li itemscope itemtype="http://schema.org/VisualArtwork">
            <article>
                <a class="item" itemprop="url" href="{{ item.slug }}"
                   data-title="{{ item.title }}"
                   data-img="{{ item.image ? item.image : '' }}"
                   role="menuitem"
                   rel="bookmark">
                    <h3 itemprop="name">{{ item.title }}</h3>
                    <span>{{ item.date|date('Y') }} | <em>{{ item.schema_artForm }}</em></span>
                </a>
                <meta itemprop="dateModified" content="{{ item.date_modified ? item.date_modified : item.date }}">
            </article>
        </li>
        {% endfor %}
    </ul>
</section><!--

--><div id="project" class="col content {{ active_category == 'project' ? 'open' : 'invisible' }}" tabindex="0">
    {% if active_category == 'project' %}
        {% include 'templates/page.html' %}
    {% endif %}
</div><!--

--><section class="col news" data-id="blog" tabindex="0">
    <h2>News</h2>
    <ul>
        {% for item in pages.blog.items %}
            <li class="{{ not item.url ? 'item' : '' }}" itemscope itemtype="http://schema.org/BlogPosting">
                <article>
                    {% if item.url %}<a class="item" itemprop="url" href="{{ item.url }}" data-title="{{ item.title }}" rel="bookmark">{% endif %}
                    <header>
                        <h3 itemprop="headline">{{ item.title }}</h3>
                        <time itemprop="datePublished" datetime="{{ item.date }}">{{ item.date_formatted }}</time>
                        <meta itemprop="dateModified" content="{{ item.date_modified ? item.date_modified : item.date }}">
                    </header>
                    <p>{{ item.description }}</p>
                    {% if item.url %}</a>{% endif %}
                    {% if item.image %}
                        <meta itemprop="image" content="{{ item.image }}">
                    {% endif %}
                    <meta itemprop="author publisher" content="{{ config.site_author }}">
                </article>
            </li>
        {% endfor %}
    </ul>
</section><!--

--><div id="blog" class="col content {{ active_category == 'blog' ? 'open' : 'invisible' }}" tabindex="0">
    {% if active_category == 'blog' %}
        {% include 'templates/page.html' %}
    {% endif %}
</div><!--

--><aside class="col" tabindex="0">
    <h2>Bio</h2>
    <dl>
        {% for item in pages.bio.items %}
            <dt><time datetime="{{ item.date }}">{{ item.date }}</time></dt>
            <dd>{{ item.title }}</dd>
        {% endfor %}
    </dl>
</aside>