<main data-slug="{{ slug }}">
    {% if meta.schema_artForm in ['Blog', 'News', 'Research'] %}
        {% set is_blog = 1 %}
        <article itemscope itemtype="http://schema.org/BlogPosting">
            <meta itemprop="datePublished" content="{{ meta.date }}">
            <h2 itemprop="headline">{{ meta.title }}</h2>
    {% else %}
        <article itemscope itemtype="http://schema.org/VisualArtwork">
            <meta itemprop="dateCreated" content="{{ meta.date }}">
            <meta itemprop="artform" content="{{ meta.schema_artForm }}">
            <h2 itemprop="name">{{ meta.title }}</h2>
    {% endif %}
        <meta itemprop="dateModified" content="{{ meta.date_modified }}">
        <span itemprop="{{ not is_blog ? 'creator' : 'author publisher' }}" itemscope itemtype="http://schema.org/Person">
            <meta itemprop="name" content="{{ config.site_author }}">
        </span>

        {% if ( meta.image ) and not ( '-posterframe.' in meta.image ) %}
            <img itemprop="thumbnailUrl image" src="{{ meta.image }}" alt="{{ meta.title }}">
        {% endif%}

        {% if content %}
            <div itemprop="about" class="about">
                {{ content }}
            </div>
        {% endif%}

        {% if meta.media %}
            <ul>
                {% for slide in meta.media %}
                    {% if slide.src is not iterable %}
                        <li itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                            <img src="{{ slide.src }}" alt="{{ meta.title }}">
                        </li>
                    {% else %}
                        <li itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                            <video controls preload poster="{{ slide.poster ? slide.poster : '' }}">
                                {% for source in slide.src %}
                                    <source src="{{ source.url }}" type="{{ source.mime }}">
                                {% endfor %}
                                <p>Your browser does not support this video format.</p>
                            </video>
                            <meta itemprop="uploadDate" content="{{ meta.date_modified }}">
                            <meta itemprop="name" content="{{ meta.title }}">
                            {% if slide.poster %}
                                <meta itemprop="thumbnailUrl" content="{{ slide.poster }}">
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        {% if is_blog != 1 %}
            <footer>
                <p>
                    <small>
                        This work is licensed under a Creative Commons
                        <a rel="license" itemprop="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
                            Attribution-NonCommercial-ShareAlike 4.0 International License
                        </a>
                        (CC BY-NC-SA 4.0).
                    </small>
                    <br>
                    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
                    </a>
                </p>
            </footer>
        {% endif %}
    </article>
</main>